@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
/* Border Radius */
/* ---------------------------------------- */
/* IndexPage */
/* ---------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  background-color: #ffffff;
  font-family: "Almarai", sans-serif;
}

.landding-section-one {
  position: relative;
  background-color: transparent;
}
.landding-section-one .over-lay {
  background-color: rgba(23, 24, 25, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.landding-section-one .landing .landing-info {
  position: absolute;
  top: 35%;
  bottom: 0;
  right: 15%;
  left: 0;
}
.landding-section-one .landing .landing-info h2 {
  color: #caa280;
  font-size: 50px;
  font-weight: 600;
}
.landding-section-one .landing .landing-info p {
  font-size: 24px;
  color: #B1B1B2;
}
.landding-section-one .landing .landing-info .start-service {
  font-size: 22px;
}
.landding-section-one .landing .landing-info .start-service .fa-scale-balanced {
  font-size: 32px;
  margin: 0 25px;
  color: #D3AE8E;
}
.landding-section-one .landing .landing-info .start-service button {
  color: #B1B1B2;
  background-color: transparent;
  width: 197px;
  height: 50px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #B3753F;
}
.landding-section-one .landing .landing-info .start-service button i {
  margin: 0 15px;
  color: #B1B1B2;
}
.landding-section-one .landing .landing-info .social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 100px;
}
.landding-section-one .landing .landing-info .social-media .rotate-pargraph {
  transform: rotate(90deg);
}
.landding-section-one .landing .landing-info .social-media .icons {
  font-size: 2 3px;
  color: #B1B1B2;
}
.landding-section-one .first-navbar {
  border-bottom: 1px solid rgb(90, 91, 101);
  color: #ffffff !important;
}
.landding-section-one .nav-contact-info i {
  font-size: 22px;
}
.landding-section-one .nav-contact-info .contact-info {
  line-height: 4px;
}
.landding-section-one .nav-contact-info .contact-info h6 {
  direction: ltr;
  font-size: 15px;
}
.landding-section-one .nav-contact-info .contact-info p {
  font-size: 15px;
}
.landding-section-one .nav-contact-info .lang {
  cursor: pointer;
}
.landding-section-one .nav-contact-info .fa-bars-staggered {
  font-size: 30px;
  cursor: pointer;
}
.landding-section-one .sec-navbar {
  background-color: transparent !important;
  margin-top: 81px;
  margin-right: 100px;
  position: fixed;
}
.landding-section-one .sec-navbar li a {
  color: #ffffff !important;
}
.landding-section-one .sec-navbar .nav-link {
  font-weight: 500;
  padding-top: 12px;
}
.landding-section-one .sec-navbar .active {
  border-top: 4px solid #caa280;
  color: #caa280 !important;
}

.about {
  padding: 20px 0;
  color: #B1B1B2;
  background-color: #282B3A;
}
.about h2 {
  color: #caa280;
}
.about .section-header.logo h3 {
  color: #caa280;
}
.about .section-header.logo h3 span {
  font-size: 20px;
  color: rgba(202, 162, 128, 0.7);
}
.about .section-header.logo p {
  font-weight: 400;
  font-size: 22px;
}
.about .balance-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: #0f111e;
  width: 173px;
  height: 193px;
  background-color: #caa280;
  border-radius: 35px;
}
.about .about-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .about-card h4 {
  margin-top: 20px;
  color: #B1B1B2;
}
.about .about-card h5 {
  color: #d3ae8e;
}
.about .about-card .about-icon {
  width: 77px;
  height: 77px;
  padding: 15px 10px 0 10px;
  border: 2px solid;
  padding: 20px;
  border-radius: 18px;
}
.about .about-card .about-icon i {
  color: #B1B1B2;
  font-size: 30px;
}
.about .about-card::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 1px;
  height: 50%;
  background: #ccc;
  transform: translateY(-50%);
}
.about .row.All-about-cards .about-card:nth-child(1)::after {
  display: none;
}

.about-two {
  background-color: #F2F2F3;
  padding: 30px 40px;
}
.about-two .section-header h2 {
  padding: 12px;
  font-weight: 600;
  color: rgba(202, 162, 128, 0.7);
}
.about-two .section-header p {
  font-size: 23px;
  font-weight: 500;
  color: #0f111e;
}
.about-two .icon-info {
  padding: 20px 30px;
  border: 2px solid rgba(202, 162, 128, 0.7);
  border-radius: 20px;
}
.about-two .icon-info i {
  padding: 24px;
  font-size: 43px;
}
.about-two button {
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: rgba(202, 162, 128, 0.7);
}
.about-two button i.fa-arrow-left {
  font-size: 18px;
}

.team {
  padding-bottom: 30px;
}
.team .section-header h2 {
  font-weight: 700;
  color: #caa280;
  margin-bottom: 20px;
}
.team .section-header p {
  font-weight: 500;
  font-size: 25px;
  color: #0f111e;
}
.team .lawyer-card .lawyer-head {
  padding: 10px;
  color: white;
  background-color: #282B3A;
}
.team .lawyer-card .lawyer-head h3 {
  font-size: 18px;
  font-weight: 700;
  color: #caa280;
}
.team .lawyer-card .lawyer-head p {
  font-weight: 500;
}
.team .lawyer-card .lawyer-head .icon {
  background-color: #caa280;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 0 5px 7px 5px;
  cursor: pointer;
}
.team .lawyer-card .lawyer-head i {
  font-size: 25px;
}
.team .lawyer-card .lawyer-info {
  color: white;
  background-color: #282B3A;
  padding: 17px;
}
.team .lawyer-card .lawyer-info .lawyer-Descrption {
  font-size: 17px;
  font-weight: 500;
}
.team .lawyer-card .lawyer-info .lowyer-Socail {
  margin-top: 12px;
  padding: 12px 0;
  color: #CAA280;
  border-top: 2px solid #CAA280;
}

@media screen and (max-width: 768px) {
  .sec-navbar {
    display: none;
  }
  .nav-contact-info .lang {
    display: none;
  }
  .row.All-about-cards .about-card::after {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */