@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import "variables.scss";

/* ---------------------------------------- */
/* IndexPage */
/* ---------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #ffffff;
    font-family: "Almarai", sans-serif;
}

.landding-section-one {
    position: relative;

    .over-lay {
        background-color: rgba(23, 24, 25, 0.7);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .landing {
        .landing-info {
            position: absolute;
            top: 35%;
            bottom: 0;
            right: 15%;
            left: 0;

            h2 {
                color: $primary-color-light ;
                font-size: 50px;
                font-weight: 600;
            }

            p {
                font-size: 24px;
                color: $secondary-color-main-light;
            }

            .start-service {
                font-size: 22px;

                .fa-scale-balanced {
                    font-size: 32px;
                    margin: 0 25px;
                    color: #D3AE8E;
                }

                button {
                    color: $secondary-color-main-light;
                    background-color: transparent;
                    width: 197px;
                    height: 50px;
                    border: 2px 0px 0px 0px;
                    opacity: 0px;

                    border: 2px solid #B3753F;


                    i {
                        margin: 0 15px;
                        color: $secondary-color-main-light;
                    }
                }
            }

            .social-media {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                top: 0;
                left: 100px;

                .rotate-pargraph {
                    transform: rotate(90deg);
                }

                .icons {
                    font-size: 2 3px;
                    color: $secondary-color-main-light;
                }

            }
        }
    }
}

.first-navbar {
    margin-bottom: -10px;
    border-bottom: 1px solid $third-color-gray ;
    color: #ffffff !important;
}

.nav-contact-info {
    i {
        font-size: 22px;
    }

    .contact-info {
        line-height: 4px;

        h6 {
            direction: ltr;
            font-size: 15px;
        }

        p {
            font-size: 15px;
        }
    }

    .lang {
        cursor: pointer;
    }

    .fa-bars-staggered {
        font-size: 30px;
        cursor: pointer;
    }
}

.sec-navbar {
    background-color: transparent !important;
    margin-top: 81px;
    margin-right: 100px;
    position: fixed;

    li {
        a {
            color: #ffffff !important;
        }
    }

    .nav-link {
        font-weight: 500;
        padding-top: 12px;
    }

    .active {
        border-top: 4px solid $primary-color-light;
        color: $primary-color-light !important;
    }
}

@media screen and (max-width: 768px) {
    .sec-navbar {
        display: none;
    }

    .nav-contact-info {
        .lang {
            display: none;
        }
    }
}